body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #87CEFA;
    transition: background 0.5s ease-in-out;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
}

.search-container {
    display: flex;
    gap: 10px;
}

input {
    margin: 5px;
    padding: 15px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

button {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #61dafb;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.weather-info {
    text-align: center;
    margin-top: 50px;
}

.weather-info h2 {
    font-size: 2em;
}

.weather-info p {
    font-size: 1.2em;
    margin: 10px 0;
}

footer {
    text-align: center;
    margin-top: 100px;
    padding: 20px;
}